* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #AD4E69;
    color: #C2CFE0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 0.5em;
}

#desctription {
    margin-bottom: 1em;
}

form {
    background-color: #34475E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    padding: 15px;
}

form * {
    margin: 0.1em;
}

#text-group {
    width: 90%;
}

#name,
#email,
#number {
    border: 3px solid #C2CFE0;
    background-color: transparent;
    padding: 0.5em;
    border-radius: 5px;
    color: #C2CFE0;
    width: 100%;
    padding: 20px;
    text-align: center;
    outline: none;
}

#name-label,
#email-label,
#number-label {
    position: absolute;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1em;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.icon-group {
    display: flex;
    align-items: center;
}

#dropdown {
    background-color: transparent;
    color: #5ACABF;
    padding: 10px;
    margin: 10px 0;
    width: 50%;
    border: none;
    border-bottom: 2px solid #5ACABF;
}

#radio-group {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#radio-group p {
    font-weight: bold;
}

#suggestions {
    width: 50%;
    height: 5em;
    background-color: transparent;
    border: 1px solid #5ACABF;
    margin: 10px 0;
    padding: 5px;
    color: #C2CFE0;
    outline: none;
}

button {
    background-color: transparent;
    color: #C2CFE0;
    border: none;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    cursor: pointer;
}